.flexrow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flexcol {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexrow.start,
.flexcol.start {
	justify-content: flex-start;
}

.flexrow.center,
.flexcol.center {
	justify-content: center;
}

.flexrow.end,
.flexcol.end {
	justify-content: flex-end;
}

.flexrow.spread,
.flexcol.spread {
	justify-content: space-between;
}

.flexrow.top,
.flexcol.left {
	align-items: flex-start;
}

.flexrow.bottom,
.flexcol.right {
	align-items: flex-end;
}

.flexrow.stretch,
.flexcol.stretch {
	align-items: stretch;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-item {
	flex: 1 1 auto;
}
